@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Press Start 2P", "Courier New", Courier, monospace, cursive;
}

html,
body,
div.container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
}

ul li {
  list-style: none;
}

button,
input,
textarea,
a {
  outline: none;
}

button,
a,
label,
select,
option {
  cursor: pointer;
}

a {
  text-decoration: none;
}

div.container {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

div.container header {
  margin: 0 auto;
}

div.container header h1 * {
  transition: 1s;
}

div.container main {
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

div.container main ul {
  width: 90%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  justify-content: center;
  gap: 10px;
  border: 1px solid white;
  border-radius: 8px;
}

div.container main ul li {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  border-radius: 8px;
  transition: 1s;
}

div.container main ul li:hover {
  background-color: #833838;
  transform: scale(1.1);
}

div.container main ul li:hover * {
  color: black;
}

div.container main ul li:hover h2 {
  text-decoration: underline red;
}

div.container main ul li h2 {
  text-align: center;
  cursor: default;
}

div.container main ul li div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 50px);
  justify-content: center;
  gap: 10px;
  padding: 10px 10px;
}

div.container main ul li div a {
  margin: 0 4px;
  padding: 4px;
  text-align: center;
  border: 1px solid white;
  border-radius: 4px;
  transition: 1s;
}

div.container main ul li div a:hover {
  border: 1px solid red;
  text-decoration: underline red;
  background-color: white;
}

div.container main ul li div a:hover img {
  filter: invert(0%) sepia(0%) saturate(0%);
}

div.container main ul li div a img {
  width: 20px;
  height: 20px;
  filter: invert(100%) sepia(100%) saturate(100%);
  transition: 1s;
}

div.container footer {
  text-align: center;
}

div.container footer p a {
  transition: 1s;
}
