@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Press Start 2P", "Courier New", Courier, monospace, cursive;
}

html,
body,
div.container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
}

ul li {
  list-style: none;
}

button,
input,
textarea,
a {
  outline: none;
}

button,
a,
label,
select,
option {
  cursor: pointer;
}

a {
  text-decoration: none;
}

// End Reset

div.container {
  padding: 5px;
  display: flex;
  flex-direction: column;

  header {
    margin: 0 auto;
    h1 * {
      transition: 1s;
    }
  }

  main {
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;

    ul {
      width: 90%;
      padding: 10px;

      display: grid;
      grid-template-columns: repeat(auto-fit, 350px);
      justify-content: center;
      gap: 10px;

      border: 1px solid white;
      border-radius: 8px;

      li {
        margin: 5px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid white;
        border-radius: 8px;

        transition: 1s;

        &:hover {
          * {
            color: black;
          }

          h2 {
            text-decoration: underline red;
          }

          background-color: #833838;
          transform: scale(1.1);
        }

        h2 {
          text-align: center;
          cursor: default;
        }

        div {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(auto-fit, 50px);
          justify-content: center;
          gap: 10px;
          padding: 10px 10px;

          a {
            margin: 0 4px;
            padding: 4px;
            text-align: center;
            border: 1px solid white;
            border-radius: 4px;
            transition: 1s;

            &:hover {
              border: 1px solid red;
              text-decoration: underline red;
              background-color: white;

              img {
                filter: invert(0%) sepia(0%) saturate(0%);
              }
            }

            img {
              width: 20px;
              height: 20px;
              filter: invert(100%) sepia(100%) saturate(100%);
              transition: 1s;
            }
          }
        }
      }
    }
  }

  footer {
    text-align: center;
    p a {
      transition: 1s;
    }
  }
}
